main{
    background-color: whitesmoke;
    color: black;
    padding: 0;
    margin: 0;
}

header{
    background-color: #9ACBD0;
    color: black;
    padding: 10px;
    text-align: center;
}

.right{
    float: right;
    text-align: right;
}

.text{
    background-color: whitesmoke;
    align-items: center;
    text-align: center;
}