body{
    background-color: whitesmoke;
    color: black;
    padding: 0;
    margin: 0;
}

/* Configuracoes para o elemento <main>, que contem o conteudo principal */
main {
    background-color: whitesmoke; 
    color: black; 
    padding: 0; /* Remove o espaco interno */
    margin: 0; /* Remove as margens externas */
}

/*remove s bolinha do lado da lista*/
ul{
  list-style: none;
  margin: 10px;
}

/* Estilo para o, que e o cabecalho da pagina */
header { 
    background-color: #9ACBD0; 
    color: black; 
    padding: 10px; 
    text-align: center; 
    position: relative; /* Posiciona o elemento de forma relativa */
}

.item {
      background-color: white; 
      width: 280px; /* Largura de 280px */
      height: 280px; /* Altura de 280px */
      border-radius: 10px; /* Bordas arredondadas */
      align-items: center; /* Alinha os itens verticalmente ao centro */
      text-align: center; /* Centraliza o texto */
      cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
      
}

/* Classe .right para alinhar elementos a direita */
.right {
    float: right; /* Faz o elemento ir para a direita */
    text-align: right; /* Alinha o texto a direita */
}

/* Classe .text para centralizar textos */
.text {
    font: normal 16px Arial, Verdana, serif;
    background-color: whitesmoke;
    align-items: center; /* Sem efeito aqui, pois nao e flexbox ou grid */
    text-align: center; /* Centraliza o texto horizontalmente */
}

.clicable{
    cursor: pointer;
}

.topleft {
    position: absolute; /* Posiciona o elemento de forma absoluta */
    top: 0; /* Alinha ao topo */
    left: 0; /* Alinha a esquerda */
    margin: 5px; /* Define uma margem de 5px */
}

.left{
    float: left;
    text-align: left;
}

.text p{
    text-align: center;
    align-items: center; 
    width: 100%;
    display: block;
    word-break: break-word; /* Garante quebra de palavra se necessário */
}


.text img{
    margin-right: 6px;
}

.buttons{
    margin-top: 50px;
}

.resumo{
    color: black;
    background-color: floralwhite;
}

.moreInformations ul{
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;

}

.moreInformations li {
    flex: 0 0 auto;
}